<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="MMALL ADMIN">
    <meta name="author" content="Rosen">
    <title>MMALL ADMIN</title>
<link rel="shortcut icon" href="../../backend/favicon.ico"><link href="../../backend/css/app.css?fb6d23c7ae37b80020f0" rel="stylesheet"></head>
<body>
    <div id="app"></div>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../../backend/js/base.js?fb6d23c7ae37b80020f0"></script><script type="text/javascript" src="../../backend/js/app.js?fb6d23c7ae37b80020f0"></script></body>

</html>
