<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=UTF-8> <meta http-equiv=x-ua-compatible content="ie=edge"> <meta name=keywords content=MMall，happymmall，MMall电商，网上购物，网上商城，数码产品，手机，笔记本，相机，手表，耳机，电商视频，电商教程，电商源码下载> <meta name=description content=一个提供数码通讯、手机、电脑、家居百货、服装服饰、母婴、图书、食品等数万种优质商品，最优质、最便捷的网上购物平台。> <link rel=dns-prefetch href=//cdn.bootcss.com> <link rel=dns-prefetch href=//s.happymmall.com> <link rel=dns-prefetch href=//img.happymmall.com>
        <title>个人中心 — MMall电商平台</title>
    <link rel="shortcut icon" href="../../portal/favicon.ico"><link href="../../portal/css/common.css?2cf7a57eda3c86aab3a2" rel="stylesheet"><link href="../../portal/css/user-center.css?2cf7a57eda3c86aab3a2" rel="stylesheet"></head>
    <body>
        <div class=nav> <div class=w> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text> 欢迎，<span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> <ul class=nav-list> <li class=nav-item> <a class=link href=./cart.html> <i class="fa fa-shopping-cart"></i> 购物车（<span class=cart-count>0</span>） </a> </li> <li class=nav-item> <a class=link href=./order-list.html>我的订单</a> </li> <li class=nav-item> <a class=link href=./user-center.html>我的MMall</a> </li> <li class=nav-item> <a class=link href=./about.html>关于MMall</a> </li> </ul> </div> </div>
        <div class=header> <div class=w> <a class="logo link" href=./index.html>MMall</a> <div class=search-con> <input type=text class=search-input id=search-input placeholder=请输入商品名称> <button class="btn search-btn" id=search-btn>搜索</button> </div> </div> </div>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a href="./index.html" class="link">MMall</a>
                    <span>></span>
                    <span class="link-text">个人中心</span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <ul class=nav-side> </ul>
            <div class="content width-nav">
                <div class="panel">
                    <div class="panel-title">个人中心</div>
                    <div class="panel-body">
                        <div class="loading"></div>
                    </div>
                </div>
            </div>   
        </div>
        
        <div class=footer> <div class=w> <div class=links> <a href=http://www.imooc.com class=link target=_blank>慕课网</a> | <a href=https://www.baidu.com class=link target=_blank>百度</a> | <a href=https://www.taobao.com class=link target=_blank>淘宝</a> | <a href=https://www.zhihu.com class=link target=_blank>知乎</a> </div> <p class=copyright>Copyright © 2017 happymmall.com All Right Reserved</p> </div> </div> <script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script>
    <script type="text/javascript" src="../../portal/js/base.js?2cf7a57eda3c86aab3a2"></script><script type="text/javascript" src="../../portal/js/user-center.js?2cf7a57eda3c86aab3a2"></script></body>

</html>