<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=UTF-8> <meta http-equiv=x-ua-compatible content="ie=edge"> <meta name=keywords content=MMall，happymmall，MMall电商，网上购物，网上商城，数码产品，手机，笔记本，相机，手表，耳机，电商视频，电商教程，电商源码下载> <meta name=description content=一个提供数码通讯、手机、电脑、家居百货、服装服饰、母婴、图书、食品等数万种优质商品，最优质、最便捷的网上购物平台。> <link rel=dns-prefetch href=//cdn.bootcss.com> <link rel=dns-prefetch href=//s.happymmall.com> <link rel=dns-prefetch href=//img.happymmall.com>
        <title>找回密码 — MMall电商平台</title>
    <link rel="shortcut icon" href="../../portal/favicon.ico"><link href="../../portal/css/common.css?2cf7a57eda3c86aab3a2" rel="stylesheet"><link href="../../portal/css/user-pass-reset.css?2cf7a57eda3c86aab3a2" rel="stylesheet"></head>
    <body>
        <div class=nav-simple> <div class=w> <a class=logo href=./index.html>MMALL</a> </div> </div>

        <div class="page-wrap">
            <div class="w">
                <div class="user-con">
                    <div class="user-title">找回密码</div>
                    <div class="user-box">
                        <div class="error-item">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <div class="step-con step-username">
                            <p class="user-item-text">请输入用户名：</p>
                            <div class="user-item">
                                <label for="username" class="user-label"><i class="fa fa-user"></i></label>
                                <input class="user-content" type="text" id="username" placeholder="请输入用户名" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-username">下一步</a>
                        </div>
                        <div class="step-con step-question">
                            <p class="user-item-text">密码提示问题是：<span class="question"></span></p>
                            <div class="user-item">
                                <label for="answer" class="user-label"><i class="fa fa-key"></i></label>
                                <input class="user-content" type="text" id="answer" placeholder="请输入密码提示问题答案" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-question">下一步</a>
                        </div>
                        <div class="step-con step-password">
                            <p class="user-item-text">请输入新密码：</p>
                            <div class="user-item">
                                <label for="password" class="user-label"><i class="fa fa-lock"></i></label>
                                <input class="user-content" type="password" id="password" placeholder="请输入新密码" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-password">下一步</a>
                        </div>
                        <div class="link-item">
                            <a href="./user-login.html" class="link" target="_blank">返回登录>></a>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=footer> <div class=w> <div class=links> <a href=http://www.imooc.com class=link target=_blank>慕课网</a> | <a href=https://www.baidu.com class=link target=_blank>百度</a> | <a href=https://www.taobao.com class=link target=_blank>淘宝</a> | <a href=https://www.zhihu.com class=link target=_blank>知乎</a> </div> <p class=copyright>Copyright © 2017 happymmall.com All Right Reserved</p> </div> </div> <script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script>
    <script type="text/javascript" src="../../portal/js/base.js?2cf7a57eda3c86aab3a2"></script><script type="text/javascript" src="../../portal/js/user-pass-reset.js?2cf7a57eda3c86aab3a2"></script></body>

</html>